.services {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 50;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.names {
    font-size: 30;
}

div.names {
    display: flex;
    flex-direction: column;
}